body {
    background-color: rgb(229, 229, 229);
}

.cabecalho {
    height: 10vh;
    background-color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 7px 0 7px;
    border: 1px solid rgb(182, 182, 182);
}

.pedidos {
    height: 85vh;
    margin: 7px;
}

.gerarPedido {
    height: 32%;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 7px;
    display: flex;
}


.pedido {
    width: 30vw;
    margin: 15px;
}

.pedido p {
    margin-bottom: 15px;
}

.pedido button {
    height: 35px;
    width: 70%;
}

.infoPedido {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.infoPedido input,
select {
    height: 30px;
    width: 98%;
    margin: 3px;
}

.infoEntrega {
    height: 68%;
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 7px;
    display: flex;
}

.execucao {
    width: 50vw;
    margin: 20px;
}

.exe {
    display: flex;
}

.exe p {
    margin-right: 3px;
}


.caminho {
    width: 50vw;
    margin: 20px;
}

.cam {
    display: flex;
}

.cam p {
    margin-right: 3px;
}